@import '../../global-styles';

@mixin dayStyles {
	padding: 12px;
	margin-right: 8px;
	@include column-align;
	border-radius: 12px 12px 0 0;
	background-color: rgba($color: #fff, $alpha: 0.2);
}

.DaysForecast {
	position: relative;
	display: flex;
	width: 100%;
	.Day, .CurrentWeather {
		flex: 1 1 20%;
		@include dayStyles();
		&:last-child {
			margin-right: 0;
		}
		&__date, &__title {
			margin-bottom: 4px;
			@include text;
			font-style: italic;
			width: 100%;
			color: #fff;
			white-space: nowrap;
		}
		&.current {
			background-color: rgba($color: #fff, $alpha: 0.4);
		}
		&__sky-icon {
			@include center-align;
			width: 40px;
			height: 40px;
			margin-bottom: 12px;
			overflow: hidden;
			img {
				width: 130%;
				height: 130%;
			}
		}
		&__wind-info {
			@include row-align;
			.direction-icon {
				@include row-align;
				margin-right: 16px;
				width: 30px;
				height: 30px;
				img {
					width: 100%;
				}
			}
			.speed {
				@include bigText;
			}
		}
		&__time {			
			margin-bottom: 8px;
			@include bigText;
			font-style: italic;
			color: $red;
		}
		&__icon {
			margin-bottom: 8px;
		}
		&__temperature-info {
			@include column-align;
			margin-bottom: 6px;
			@include smallTitle; 
			.value {
				margin-bottom: 2px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.real-feels {
				@include text;
				color: $red;
				font-style: italic;
			}
		}
	}
	.CurrentWeather {
		border: 1px solid $red;
	}
}