@import '../../global-styles';

.DaysForecast {
	display: flex;
	width: 100%;
	.Day {
		padding: 12px;
		margin-right: 8px;
		@include column-align;
		flex: 1 1 20%;
		border-radius: 12px;
		background-color: rgba($color: #fff, $alpha: 0.2);
		&:last-child {
			margin-right: 0;
		}
		&__date {
			margin-bottom: 4px;
			@include text;
			font-style: italic;
			width: 100%;
			color: #fff;
			white-space: nowrap;
		}
		&.current {
			background-color: rgba($color: #fff, $alpha: 0.4);
			border: 1px solid rgb(211, 33, 33);
		}
		&__weather-icon {
			@include center-align;
			width: 40px;
			height: 40px;
			margin-bottom: 12px;
			overflow: hidden;
			img {
				width: 130%;
				height: 130%;
			}
		}
		&__wind {
			@include row-align;
		}
		&__wind-icon {
			margin-right: 16px;
			width: 30px;
			height: 30px;
			img {
				width: 100%;
			}
		}
		&__time {			
			margin-bottom: 8px;
			@include bigText;
			font-style: italic;
			color: rgb(211, 33, 33);
		}
		&__wind-speed {
			@include bigText;
		}
		&__icon {
			margin-bottom: 8px;
		}
		&__temperature {
			@include column-align;
			margin-bottom: 8px;
			@include smallTitle; 
			span {
				margin-bottom: 2px;
				&:first-child {
			
				}
			}
			.temperature-feels {
				@include text;
				color: rgb(211, 33, 33);
				font-style: italic;
			}
		}
	}
}