//null style
*{padding:0;margin:0;border:0;line-height:1; box-sizing: border-box;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
a{display: block;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;background: inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;display: block;}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
address{font-style: normal;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
//variables
$md1: 1440px;
$md2: 1024px;
$md3: 767px;

$mainCol: rgba(41, 141, 223, 0.884);
$black: rgb(51, 51, 51);
$grayBg: #fefefe;
$gray: rgb(131, 131, 131);
//mixins
@mixin font-style($fz, $lh, $fw: 400, $col: #fff) {
    font-size: $fz;
    line-height: $lh;
    font-weight: $fw;
    color: $col;
}
@mixin column-align {
    display: flex;
    flex-direction: column;
}
@mixin row-align {
    display: flex;
    align-items: center;
}
@mixin center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
//typographic
@mixin bigText {
  @include font-style(18px, 140%, 500);
}
@mixin text() {
  @include font-style(16px, 140%);
}
@mixin smallText() {
  @include font-style(14px, 140%);
}
@mixin smallTitle() {
  @include font-style(22px, 140%, 500);
}
@mixin title() {
  @include font-style(40px, 140%, 700);
}
//general styles
.container {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}
@mixin formBtn() {
  padding: 9px 15px;
  background-color: $mainCol;
  color: #fff;
  font-weight: 500;
  transition: 0.2s;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}

@mixin userAvatar {
  width: 70px;
  height: 70px;
  margin-right: 24px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

@mixin input {
  padding: 10px 14px;
  @include smallText;
  border: 1px solid $gray;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.432);
  transition: 0.2s;
  &::placeholder {
    font-style: italic;
    color: $gray;
  }
  &:hover {
    border-color: $grayBg;
  }
  &:focus {
    border-color: $mainCol;
  }

}