@import './global-styles';

.App {
	min-height: 100vh;
	background-color: $mainCol;
	.Search {
		margin-bottom: 16px;
	}
	.DaysForecast {
	}
	.WeatherInfo {}
	&__container {
		@include column-align;
		align-items: flex-start;
		max-width: 900px;
		margin: 0 auto;
	}
	&__title {
		margin-bottom: 24px;
		@include title;
		text-align: center;
	}
}
