@import './global-styles';

.App {
	height: 100vh;
	background-color: $mainCol;
	&__container {
		@include column-align;
		align-items: flex-start;
		max-width: 900px;
		margin: 0 auto;
	}
	&__title {
		margin-bottom: 24px;
		@include title;
		text-align: center;
	}
}
